@import "../../../../../styles/constants";
@import "../../../../../styles/theme";

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $full-size;
    width: $full-size;
    min-height: 700px;
}

.mat-spinner{
    opacity: 0.6;
}