@import "../../../../../styles/constants";
    
.big-icon{
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
    margin-top: 1.5rem;
}

.left-arrow{
    margin-left: $padding-30;
}

.right-arrow{
    margin-right: $padding-30;
}

.center{
    flex: 1;
}